:host {
  width: 100%;
  min-width: 1349px;
  max-width: 1440px;
  margin: 0 auto;

  .make_background {
    width: 100%;
    min-width: 1349px;
    margin: 0 auto;
    height: 1024px;

    &::after,
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      width: 50%;
      height: 1024px;
      z-index: -1;
    }

    &::before {
      left: 0;
      background-color: #0000e8;
    }

    &::after {
      right: 0;
      background-color: #ffffff;
    }
  }
  form {
    @mixin form {
      width: 350px;
      position: absolute;
      margin-left: 286.5px;

      .back-step {
        text-align: left;
        display: flex;
        align-items: center;
        color: #605f5f;
        font-size: 14px;
        font-family: "SF Pro Text-Regular";

        i {
          font-size: 22px;
          position: relative;
          left: -5px;
        }
      }

      .btn {
        height: 48px;
        font-size: 18px;
        font-family: "SF Pro Text-Bold";

        &:disabled {
          color: #979797;
          background-color: #c8c8c8;
          border: 1px solid #b9b9b9;
        }
      }
    }

    .form {
      @include form();
      top: 216px;
      transition: all 0.3s linear;

      .title {
        text-align: left;

        h2 {
          margin: 22px 0 14.26px 0;
          color: #212121;
          line-height: unset;
          font-size: 30px;
          font-family: "SF Pro Text-Heavy";
        }

        p {
          font-size: 14px;
          margin-bottom: 4px;
          color: #605f5f;
          font-family: "SF Pro Text-Regular";
        }
      }

      .input-password {
        &-1,
        &-2 {
          position: relative;
          & > i {
            color: #605f5f;
            position: absolute;
            top: 12px;
            right: 15px;
            font-size: 22px;
            cursor: pointer;
          }
          & > input {
            height: 47px;
            padding-right: 40px;
          }
        }

        &-1 {
          & > input {
            margin-top: 60.57px;
          }
        }

        &-2 {
          & > input {
            margin-top: 17px;
            margin-bottom: 42.5px;
          }
        }
      }
    }
  }
}
