<main>
    <!-- header -->
    <app-header [mode]="2" [background]="'white'"></app-header>
    <!-- /header -->

    <!-- content -->
    <section>
        <!-- Select domain -->
        <div class="select_domain_form" *ngIf="selectForm === 1">
            <p>Choose a domain</p>
            <p>The domain you select will be your site’s address</p>
            <div class="choose_domain">
                <div class="domain_box">
                    <div class="form_check">
                        <input type="radio" name="option1" checked>
                    </div>
                    <div class="domain free_domain">
                        <label>Free domain</label>
                        <div class="input_icon_container">
                            <!-- <img src="assets/images/Icon-Search-White.png" class="ml-2 input_icon_addon"
                                alt="Icon-Search-Black">
                            <input type="text" value="mysite" class="form-control"> -->
                            <span class="input-group-text" id="basic-addon1">
                                <img src="assets/images/Icon-Search-White.png" class="ml-2 input_icon_addon"
                                    alt="Icon-Search-Black" style="margin-right: 8px; width: 20px; ">
                                <span>https://roweeya.abc.com/</span>
                                <input type="text" class="form-control" value="mysite" aria-label="home"
                                    aria-describedby="basic-addon1">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="domain_box">
                    <div class="form_check">
                        <input type="radio" name="option1">
                    </div>
                    <div class="domain comin_soon">
                        <label>Customized domain</label>
                        <label>Comin soon</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="onContinue()">Continue</button>
        </div>
        <!-- Save -->
        <div class="publish_domain_form" *ngIf="selectForm === 2">
            <p>Your site was saved</p>
            <p>When your publish, the following will be your domain</p>
            <div class="publish_domain">
                <div class="free_domain">
                    <h1>Edit Free domain</h1>
                    <form class="form-inline">
                        <div class="input-group" style="width: 500px;height: 48px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <img src="assets/images/Icon-Search-White.png" class="ml-2 input_icon_addon"
                                        alt="Icon-Search-Black" style="margin-right: 8px; width: 20px; ">
                                    <span>https://roweeya.abc.com/</span>
                                    <input type="text" class="form-control" value="home" aria-label="home"
                                        aria-describedby="basic-addon1">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="date_time d-flex flex-wrap justify-content-between">
                    <div class="publish_date">
                        <h1>Publish Date</h1>
                        <div class="d-flex justify-content-between">
                            <p-calendar [(ngModel)]="publishDate"
                                [inputStyle]="{'height.px': '47', 'fontSize.px': 20, fontFamily: 'SF Pro Text-Regular', border: 'solid 1px #EAEAEA'}"
                                [inputStyleClass]="'form-control'"
                                [dateFormat]="'M d, yy'"
                                [styleClass]="'w-100 position-relative'"></p-calendar>
                            <img src="assets/images/Icon-Calendar-Grey.png" alt="Icon-Calendar-Grey">
                        </div>
                    </div>
                    <div class="publish_time">
                        <h1>Publish Time</h1>
                        <div class="d-flex justify-content-between">
                            <p-calendar [(ngModel)]="publishTime"
                                [inputStyle]="{'height.px': '47', 'fontSize.px': 20, fontFamily: 'SF Pro Text-Regular', border: 'solid 1px #EAEAEA'}"
                                [inputStyleClass]="'form-control'"
                                [styleClass]="'w-100 position-relative'"
                                [timeOnly]="true"></p-calendar>
                            <img src="assets/images/Icon-Clock-Grey.png" alt="Icon-Clock-Grey">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="onPublish()">Publish</button>
            <button class="btn btn-secondary" [routerLink]="[ '/mysite' ]"
                [queryParams]="{ type: 'list-view-project'}">Later</button>
        </div>
        <!-- Create admin account -->
        <div class="create_admin_account_form" *ngIf="selectForm == 3">
            <p>Create "Admin" Account</p>
            <p>You can you this username & password to login the site</p>
            <div class="form_create">
                <div class="row my-4">
                    <div class="col-6">
                        <input type="text" placeholder="Enter Name" class="form-control">
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Enter Lastname" class="form-control">
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <input type="text" placeholder="Enter Email" class="form-control">
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <input type="text" placeholder="Create Username" class="form-control">
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <div class="input_icon_container">
                            <input [type]="showEyePassword ? 'text' : 'password'" placeholder="Create Password"
                                class="form-control">
                            <img src="assets/images/Icon-eye{{showEyePassword ? '-blue' : ''}}.png"
                                (click)="showEyePassword = !showEyePassword" class="ml-2 input_icon_addon"
                                alt="Icon-eye">
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <div class="input_icon_container">
                            <input [type]="showEyeConfimPassword ? 'text' : 'password'" placeholder="Confirm Password"
                                class="form-control">
                            <img src="assets/images/Icon-eye{{showEyeConfimPassword ? '-blue' : ''}}.png"
                                (click)="showEyeConfimPassword = !showEyeConfimPassword" class="ml-2 input_icon_addon"
                                alt="Icon-eye">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" (click)="onCreate()">Create</button>
                <button class="btn btn-secondary" [routerLink]="[ '/mysite' ]"
                    [queryParams]="{ type: 'list-view-project'}">Later</button>
            </div>
        </div>
        <!-- Publish website -->
        <div class="publish_website_form" *ngIf="selectForm == 4">
            <p>Congratulations</p>
            <p>Your site is published and is live online</p>
            <div class="publish_domain">
                <div class="your_domain">
                    <h1>Your domain</h1>
                    <div class="row">
                        <div class="col-1">
                            <img src="assets/images/Icon-Search-White.png" class="ml-2 input_icon_addon"
                                alt="Icon-Search-Black">
                        </div>
                        <div class="col-11">
                            <p>https://roweeya.abc.com/home</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="onViewSite()">View Site</button>
            <button class="btn btn-secondary" (click)="goToMySite()">Done</button>
        </div>
    </section><!-- /content  -->

    <!-- footer  -->
    <app-footer></app-footer>
    <!-- /footer -->
</main>