<div class="make_background"></div>
<app-layout-login-base>
  <div class="content">
    <div class="back-step cursor_pointer" (click)="back()">
      <i class="feather-chevron-left"></i>Back
    </div>
    <h2 class="title">Terms of Service</h2>
    <div class="content-txt">
      Lorem ipsum dolor sit amet, consetetyr sadipscing elitr,sed diam
      nounumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat,sed diam voluptua.At vero eos et accusam et justo duo dolores et
      ea rebum.Set clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      <br>Lorem ipsum dolor sit amet,consetetur sadipscing elitr,sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat,sed diam voluptua.At vero
      eos et accusam et justo duo dolores et ea eum.
      Lorem ipsum dolor sit amet,consetetur sadipscing elitr,sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat,sed diam voluptua.At vero eos et accusam et justo
      duo dolores et ea rebym.Stet clita kasd gubergren,no sea takimat santctus est Lorem ipsum dolor sit amet,
      consetetur sadipscing elitr,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
      sed diam voluptua.At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      <br>Lorem ipsum dolor sit amet,comsetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat,sed diam voluptua.At vero eos et accusam et justo duo
      dolores et ea rebum.Stet clita kasd gubergren,no sea takimat sanctus est Lorem ipsum dolor sit amet.
      <!-- Lorem ipsum dolor sit amet, consetertur sadipscing elitr,sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna
      aliquyam erat,sed diam voluptua.At vero eos et accusam et justo duo dolores et rebum. -->
    </div>
  </div>
</app-layout-login-base>
