<footer class="footer">
  <div class="footer__container">
    <div class="footer__grid">
      <div class="footer__grid--logo">
        <a [routerLink]="['/']" class="header__logo">
          <img
            src="assets/images/Logo-The Deliver-Light.png"
            width="170"
            class="mr-sm-2 mr-md-4"
            alt="Logo-The Deliver-Dark"
          />
        </a>
        <p>
          We are a leading cloud-based Development platform with millions of
          users worldwide.We make it easy for Everyone to create a beautiful,
          Professional web presence
        </p>

        <h6>&copy; 2020 the deliver.com, Inc</h6>
      </div>
      <div class="footer--link footer--feature">
        <ul>
          <h5>Feature</h5>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
          <li><a href="#">Link 5</a></li>
          <li><a href="#">Link 6</a></li>
        </ul>
      </div>
      <div class="footer--link footer--template">
        <ul>
          <h5>Template</h5>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
          <li><a href="#">Link 5</a></li>
          <li><a href="#">Link 6</a></li>
        </ul>
      </div>
      <div class="footer--link footer--pricing">
        <ul>
          <h5>Pricing</h5>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
          <li><a href="#">Link 5</a></li>
          <li><a href="#">Link 6</a></li>
        </ul>
      </div>
      <div class="footer--link footer--support">
        <ul>
          <h5>Help & Support</h5>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
          <li><a href="#">Link 5</a></li>
          <li><a href="#">Link 6</a></li>
        </ul>
      </div>
      <div class="footer--link footer--about">
        <ul>
          <h5>About</h5>
          <li><a href="#">About us</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Term & Conditions</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__network">
      <ul class="icons-network">
        <!-- <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-behance"></i></li> -->
        <li><img src="./assets/images/Icon-Footer-facebook.png" alt="facebook"></li>
        <li><img src="./assets/images/Icon-Footer-instagram.png" alt="instagram"></li>
        <li><img src="./assets/images/Icon-Footer-twitter.png" alt="twitter"></li>
        <li><img src="./assets/images/Icon-Footer-Behance.png" alt="Behance"></li>
      </ul>
      <p class="copyright">&copy; 2020 The Deliver</p>
    </div>
  </div>
</footer>
