:host {
  width: 100%;
  min-width: 1349px;
  //height: 1080px;
  margin: 0 auto;
  // Hidden Hamburger 
  overflow: hidden;
  position: relative;

  .container_grid {
    position: relative;
    z-index: 1;
  }
  .dashboard-grid-container{
    position: relative;
    width:100%;
    height: calc(100vh - 100px);
    margin:auto;
    padding:20px 21%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
  }
  .scroll-gray::-webkit-scrollbar-thumb{
    background: #333333;
    border: 1px solid #333333;
  }
}

.drop-area{
  width: calc(100vw - 42%);
  height: 790px;
  margin:auto;
}
