<div (click)="$event.stopImmediatePropagation()" class="customise_widget_gauge row p-1 m-1">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center text-primary my-2">
            <div class="d-flex justify-content-start align-items-center">
                <img src="assets/images/Icon-Edit tool-Customise.png" alt="Icon-Edit tool-Customise">
                <span class="h6 m-0 pl-1 font-weight-bold">/Widget/Graph</span>
            </div>
            <img src="assets/images/Icon-Edit tool-Close.png" alt="Icon-Edit tool-Close" (click)="onClose(); $event.stopImmediatePropagation()" class="cursor_pointer">
        </div>
        <h2>Graph</h2>
        <!-- Threshold ~ Color -->
        <div style="max-height: 150px" class="scroll-gray">
            <div *ngFor="let row of this.formArr; let i=index" class="row mx-0 my-2 align-items-center">
                <div class="col-2 rounded_blue" [class.active]="cacheId == i" (click)="onShowSelectGraphBox(i)" [style]="{'background': row.color}" style="width: 30px; height: 35px;"></div>
                <div class="col-7">
                    <input type="number" [value]="row.threshold" (input)="onChangeThreshold($event.target.value, i)" class="form-control">
                </div>
                <div class="col-2">
                    <img src="assets/images/Icon-increase-Blue.png" class="btn-demo" (click)="removeControl(i)" alt="Icon-increase-Blue">
                </div>
            </div>
        </div>
        <img src="assets/images/Icon-add fill-Blue.png" (click)="addControl()" class="ml-1" alt="Icon-add fill-Blue">
        <hr>
        <!-- Type -->
        <div class="d-flex justify-content-between flex-wrap">
            <img src="assets/images/Icon-Edit tool-Chart1.png" class="m-1 p-2 rounded_blue"
                [class.active]="currentWidget?.widget.config?.type == 'line'"
                (click)="currentWidget?.widget.config.type = 'line'; onChangeWidget(currentWidget)"
                alt="Icon-Edit tool-chart1">
            <img src="assets/images/Icon-Edit tool-Chart2.png" class="m-1 p-2 rounded_blue"
                [class.active]="currentWidget?.widget.config?.type == 'area'"
                (click)="currentWidget?.widget.config.type = 'area'; onChangeWidget(currentWidget)"
                alt="Icon-Edit tool-chart2">
            <img src="assets/images/Icon-Edit tool-Chart3.png" class="m-1 p-2 rounded_blue"
                [class.active]="currentWidget?.widget.config?.type == 'bar'"
                (click)="currentWidget?.widget.config.type = 'bar'; onChangeWidget(currentWidget)"
                alt="Icon-Edit tool-chart3">
            <img src="assets/images/Icon-Edit tool-Chart4.png" class="m-1 p-2 rounded_blue"
                [class.active]="currentWidget?.widget.config?.type == 'hbar'"
                (click)="currentWidget?.widget.config.type = 'hbar'; onChangeWidget(currentWidget)"
                alt="Icon-Edit tool-chart4">
            <img src="assets/images/Icon-Edit tool-Chart5.png" class="m-1 p-2 rounded_blue"
                [class.active]="currentWidget?.widget.config?.type == 'bar3d'"
                (click)="currentWidget?.widget.config.type = 'bar3d'; onChangeWidget(currentWidget)"
                alt="Icon-Edit tool-chart5">
            <img src="assets/images/Icon-Edit tool-Chart6.png" class="m-1 p-2 rounded_blue"
                [class.active]="currentWidget?.widget.config?.type == 'pie'"
                (click)="currentWidget?.widget.config.type = 'pie'; onChangeWidget(currentWidget)"
                alt="Icon-Edit tool-chart6">
        </div>
        <!-- Min max -->
        <div class="d-flex justify-content-between align-items-center my-2">
            <span class="col-8 p-0">Y-Axis</span>
            <input type="text" class="col-4 form-control" placeholder="Label"
                [(ngModel)]="currentWidget?.widget.config.graphOption.yAxis" (click)="onChangeWidget(currentWidget)">
        </div>
        <div class="d-flex justify-content-between align-items-center my-2">
            <span class="col-8 p-0">Stack</span>
            <input type="number" class="col-4 form-control" placeholder="0"
                [(ngModel)]="currentWidget?.widget.config.graphOption.stack" (click)="onChangeWidget(currentWidget)">
        </div>

    </div>
</div>