<main>
    <!-- header  -->
    <app-header [mode]="2" [background]="'white'" class="mb-5"></app-header>
    <!-- content -->
    <section id="main_container">
        <div class="row">
            <div class="col-12 ">
                <div class="title">
                    <span (click)="ComeBack()">
                        Notifications
                    </span>
                    <i class="fas fa-angle-right"></i>
                    <p>Detail</p>
                </div>
                <div class="col-12 header">
                    <div class="col-1 parent-noti">
                        <div class="logo-rounded">
                            <img class="logo" src="../../../../assets/images/Logo-The Deliver.png">
                        </div>
                    </div>
                    <div class="col-10">
                        <span class="content-text">Lorem ipsum</span>
                        <p class="date">1 Aug 2020 3:29 PM (4 days ago)</p>
                    </div>
                    <div style="margin-left:100px">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div>
            <div class="content_simple mb-5">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    utLorem
                    ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    utLorem
                    ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                </p>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</main>