<div [style.minHeight.px]="1024" [style.maxWidth.px]="516" [style.width.px]="516">
  <div class="bg-form">
    <div class="bg-form-logo">
      <a [routerLink]="['/']">
        <img src="assets/images/Logo-The Deliver-Light.png" alt="logo-deliver" width="175"/>
      </a>
    </div>
    <p>
      Do officia adipisicing do dolore et. Quis veniam tempor
      doserunt ea cillum esse excepteur.
    </p>
  </div>
</div>
<div [style.minHeight.px]="1024" [style.maxWidth.px]="924" [style.minWidth.px]="833" [style.width.%]="100" [style.background]="'#FFFFFF'" >
  <ng-content></ng-content>
</div>