:host {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;

  .bg-form {
    background-image: url("../../../../assets/images/Group 1141@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0000e8;
    padding: 60px 82px;
    width: 516px;
    min-height: 1024px;

    p {
      color: #FFFFFF;
      font-size: 31px;
      font-family: "SF Pro Text-Heavy";
      margin-top: 143px;
      line-height: 2.5rem;
    }
  }
}
