::ng-deep {
  app-preview {
    zoom: 0.7;
  }
}

:host .label-widget-content.d-block {
  font-size: 13px !important;
}

$social: (
  "facebook": #3b5999,
  "twitter": #55acee,
  "linkedin": #0077b5,
  "google": #dd4b39,
);

@mixin justify-content-start {
  display: flex;
  justify-content: flex-start;
}

@mixin justify-content-between {
  display: flex;
  justify-content: space-between;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin theme-rounded-circle($name, $color) {
  .#{$name} {
    background-color: $color;
    cursor: pointer;
    &:visited {
      border: 4px solid #0000e8;
    }
    &:focus {
      border: 4px solid #0000e8;
    }
    &:hover {
      border: 4px solid #0000e8;
    }
  }
}

.theme-active {
  border: 4px solid #0000e8;
}

:host {
  width: 100%;
  min-width: 1349px;
  margin: 0 auto;

  main {
    label {
      cursor: auto;
    }

    section {
      width: 1110px;
      margin: 0 auto;

      // Override css
      .breadcrumb {
        margin-top: 10px;
        padding: 24px 0 0 0;
        @include justify-content-start;
        align-items: center;
        background: none;

        .breadcrumb-item {
          font-size: 20px;

          a {
            color: #e0e0e0;
          }
        }

        .breadcrumb-item + .breadcrumb-item {
          &::before {
            // font: normal normal normal 20px/1 FontAwesome;
            // content: "\f104";
            // margin: 0 10px;
            content: url("../../../assets/images/Icon-Arrows-Chevron-Left-Black.png");
          }
          a {
            color: #000000;
            font-size: 18px;
            font-family: SF Pro Text-Medium;
          }
        }

        .active {
          display: flex;
          align-items: center;
        }
      }

      .use_template {
        p {
          color: #959393;
        }
        .description {
          display: grid;
          h1 {
            color: #000;
            font-size: 32px;
            font-weight: bold;
          }
          p {
            font-size: 20px;
            align-items: flex-end;
          }
        }

        .create_project {
          .create_project_center {
            p {
              font-size: 16px;
            }
            .btn {
              width: 250px;
              height: 48px;
              border-radius: 100px;
            }
            .btn-primary {
              background-color: #0000e8;
            }
          }
        }
      }

      .hr_1 {
        margin-top: 30px;
      }

      .hr_2 {
        margin-bottom: 48px;
      }

      .page {
        margin: 50px 0;
        .screen {
          height: 500px;
          // border-radius: 1.7rem !important;
          //tiennx fix
          border-radius: 0.8rem !important;
          display: flex;
          flex-direction: row;

          padding: 0 !important;
          margin: 0 !important;

          overflow: hidden;
          .screen__logo {
            border-top: 30px solid white;
            border-bottom-left-radius: 40px;
            border-top-left-radius: 40px;
            border-bottom: 29px solid white;
            border-left: 30px solid white;
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              transform: scale(0.7);
            }
          }
          .screen__form {
            border-top: 30px solid white;
            border-bottom-right-radius: 40px;
            border-top-right-radius: 40px;
            border-bottom: 29px solid white;
            border-right: 30px solid white;
            width: 65%;
            @include flexCenter();
            .box-form {
              h3 {
                font-size: 1.5rem;
                font-weight: bold;
                color: #fff !important;
              }
              p {
                color: #fff !important;
              }
              .form-group {
                input {
                  background-color: transparent;
                  border-radius: 5px !important;
                }
                input[type="button"] {
                  background-color: #fff !important;
                  color: #000000 !important;
                  font-weight: bold;
                }
                ::placeholder {
                  color: #c4c4c4;
                }
              }
            }
          }
        }
        .select_option {
          max-width: 339px;
          padding: 0;

          .select_page {
            label {
              font-size: 18px;
              color: #959393;
              margin-bottom: 20px;
            }

            .dropdown {
              margin-bottom: 30px;

              .dropdown-toggle {
                width: 100%;
                max-width: 310px;
                height: 48px;
                border-radius: 100px;
                border: 1px solid #eaeaea;
                @include justify-content-between;
                align-items: center;
              }

              .dropdown-menu {
                width: 100%;
                max-width: 310px;
              }
            }
          }

          .select_color {
            label {
              font-size: 18px;
              color: #959393;
              margin-bottom: 20px;
            }

            .colors {
              .rounded-circle {
                width: 70px;
                height: 70px;
                float: left;
                margin: 5px;
              }

              @include theme-rounded-circle(circle1, rgb(33, 33, 33));
              @include theme-rounded-circle(circle2, rgb(159, 255, 177));
              @include theme-rounded-circle(circle3, rgb(151, 201, 222));
              @include theme-rounded-circle(circle4, rgb(145, 157, 235));
              @include theme-rounded-circle(circle5, rgb(197, 142, 204));
              @include theme-rounded-circle(circle6, rgb(232, 130, 154));
              @include theme-rounded-circle(circle7, rgb(234, 133, 122));
              @include theme-rounded-circle(circle8, rgb(157, 203, 122));
              @include theme-rounded-circle(circle9, rgb(115, 177, 141));
              @include theme-rounded-circle(circle10, rgb(112, 175, 170));
            }
          }
        }
      }
    }
  }
}
.preview-screen-outer {
  border-radius: 24px;
  border: solid 10px #fafafa;
  padding: 20px;
  pointer-events: none;
  width: 771px;
}
.preview-screen {
  border-radius: 0.8rem;
  overflow: hidden;
  width: 712px;
  height: 510px;
}
.noHover {
  pointer-events: none;
}

// Override css widget
::ng-deep {
  .preview-screen {
    .simple {
      &.mode_square {
        i {
          font-size: 20px !important;
        }
        div {
          &:nth-child(2) {
            font-size: 22px !important;
          }
          &:nth-child(3) {
            line-height: initial;
            font-size: 13px !important;
          }
        }
      }
      &.mode_rectangle {
        div {
          &:nth-child(1) {
            i {
              font-size: 45px !important;
            }
          }
        }
        .content_simple {
          div {
            &:nth-child(1) {
              font-size: 22px !important;
            }
            &:nth-child(2) {
              margin-top: -5px !important;
              font-size: 13px !important;
            }
          }
        }
      }
      &_vertical {
        &.mode_vertical {
          i {
            font-size: 45px !important;
          }
          .content_simple {
            &:nth-child(1) {
              font-size: 22px !important;
            }
            :nth-child(2) {
              font-size: 13px !important;
            }
          }
        }
      }
    }
    .gauge1 {
      &.mode_square {
        .display_center span {
          font-size: 13px !important;
        }
        ngx-gauge {
          .reading-label {
            line-height: normal;
            font-size: 13px !important;
          }
        }
      }
      &.mode_rectangle {
        .center_variable {
          font-size: 13px !important;
        }
        .bottom_variable {
          font-size: 13px !important;
        }
      }
      &.mode_vertical {
        .center_variable {
          font-size: 13px !important;
        }
        .bottom_variable {
          font-size: 13px !important;
        }
      }
    }
    .gauge2 {
      &.mode_square {
        .display_center span {
          font-size: 13px;
        }
        ngx-gauge {
          .reading-label {
            line-height: normal;
            font-size: 13px !important;
          }
        }
      }
      &.mode_rectangle {
        .center_variable {
          font-size: 13px !important;
          margin: 4px 0 1px 0 !important;
        }
        .bottom_variable {
          font-size: 13px !important;
        }
      }
      &.mode_vertical {
        .center_variable {
          font-size: 13px !important;
        }
        .bottom_variable {
          font-size: 13px !important;
        }
      }
    }
    .gauge3 {
      &.mode_square {
        .display_center i {
          font-size: 30px;
        }
        ngx-gauge {
          .reading-label {
            line-height: normal;
            font-size: 13px !important;
          }
        }
      }
      &.mode_rectangle {
        i {
          font-size: 30px;
        }
        .center_variable {
          font-size: 22px !important;
        }
        .button_variable {
          margin-top: -8px;
          font-size: 13px !important;
        }
      }
      &.mode_vertical {
        .gauge_container .icon_container i {
          font-size: 30px;
        }
        .content :nth-child(1) {
          font-size: 22px !important;
        }
        .content :nth-child(2) {
          font-size: 13px !important;
        }
      }
    }
  }
}
